@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600);

html {
	font-family: 'Source Sans Pro', sans-serif;
	background: #efefef;
	text-align: center;
	color: #000;
}

body {
	margin : 0px;
}

.header {
	margin-top: 0;
	padding-top: 100px;
	padding-bottom: 0;
	background-color: #463abf;
}

.header h1 {
	font-size: 72px;
	font-weight: 300;
	color: #eee;
}

.header img {
    margin-bottom: -100px;
    text-shadow: 1px 1px 0px #444;
}

h2 {
	font-size: 28px;
	font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
	color: #888;
}

a:link {
	text-decoration : none;
}

.button {
	width: 200px;
	font-size: 36px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 64px;
    margin-bottom: 64px;
	padding: 10px;
	background: #ef7777;
	color: #fff;
}

.button a {
	display: inline-block;
	padding: 10px;
	color: inherit;
}

.button:hover {
	background: #efaaaa;
}

.tagline {
    margin-top: 150px;
	font-size: 24px;
	font-weight: 300;
}

.screenshot {
	background: #ddd;
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 18px;
	clear:both;
}

.survey {
	clear:both;
	margin-top:50px;
	margin-bottom:50px;
}

.footer {
    background: #463abf;
    color: #cce;
    color: rgba(255,255,255,0.7);
    margin: 0;
    padding: 24px;
    font-size: 14px;
    line-height: 150%;
}

.footer p {
    margin: 0;
}